.venv/
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
build/
dist/
.env
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
exports/
.DS_Store
